
  
  
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
    margin-top:10px;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }